@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
  --fonts:'Poppins','sans-serif';
}

.formContainer{
  display: flex;
  align-items: center;
  flex-direction: column;

  h1{
    font-family: var(--fonts);
    font-size: 30px;
  }
  .playerNameForm{
    gap: 20px;
    input{
      padding: 10px 20px;
      &::placeholder{
        font-family: var(--fonts);
        font-size: 15px;
      }
    }
    button {
      padding: 6px 30px;
      font-family: var(--fonts);
      font-size: 15px;
      background-color: #000;
      color: #fff;
      margin-left: 20px;
      cursor: pointer;
  }
  }
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-start {
  text-align: center;
}

.game-start input {
  padding: 10px;
  font-size: 16px;
  margin: 10px 0;
}

.game-start button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.game-start button:hover {
  background-color: #0056b3;
}


.playerAppBoards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.playerName {
  font-family: var(--fonts);
  font-size: 15px;
  margin-bottom: 20px;
}
.playerAppBoard {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-gap: 5px;
}

.playButtonGrid {
  width: 60px;
  height: 60px;
  background: #fff;
  border: 1px solid #999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  font-family: var(--fonts);
  font-weight: 600;
}

.playButtonGrid:hover {
  background: gray;
}

.game-reset {
  margin-top: 20px;
  text-align: center;
}

.game-reset button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #000;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.game-reset button:hover {
  background-color: #fff;
  color: #000;
  transition: 0.3s;
  border: 1px solid #000;
}

